In [1]:
#importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
datasets=pd.read_csv('insurance_pre.csv')

In [3]:
datasets

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
datasets=pd.get_dummies(datasets,drop_first=True)

In [5]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=datasets[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep=datasets[['charges']]

In [7]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=  StandardScaler()
X_train= sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 

grid.fit(X_train, Y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\rajah\anaconda3\envs\pugazh\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 0.7018217975527163

In [14]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_gamma_deviance
mean_gamma_deviance=mean_gamma_deviance(Y_test,grid_predictions)

print("The mean_gamma_deviance for best parameter {}:".format(grid.best_params_),mean_gamma_deviance)

The mean_gamma_deviance for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 0.3500129724861995

In [15]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_poisson_deviance
mean_poisson_deviance=mean_poisson_deviance(Y_test,grid_predictions)

print("The mean_poisson_deviance for best parameter {}:".format(grid.best_params_),mean_poisson_deviance)

The mean_poisson_deviance for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 3289.260414672036

In [17]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import explained_variance_score
explained_variance_score=explained_variance_score(Y_test,grid_predictions)

print("The explained_variance_score for best parameter {}:".format(grid.best_params_),explained_variance_score)

The explained_variance_score for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 0.7060107734214736

In [18]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import  max_error 
max_error= max_error(Y_test,grid_predictions)

print("The  max_error for best parameter {}:".format(grid.best_params_), max_error)

The  max_error for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 24667.60982

In [19]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_absolute_error
mean_absolute_error=mean_absolute_error(Y_test,grid_predictions)

print("The mean_absolute_error for best parameter {}:".format(grid.best_params_),mean_absolute_error)

The mean_absolute_error for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 3312.423821495025

In [20]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_squared_error
mean_squared_error=mean_squared_error(Y_test,grid_predictions)

print("The mean_squared_error for best parameter {}:".format(grid.best_params_),mean_squared_error)

The mean_squared_error for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 47550318.45160967

In [23]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import median_absolute_error
median_absolute_error=median_absolute_error(Y_test,grid_predictions)

print("The median_absolute_error for best parameter {}:".format(grid.best_params_),median_absolute_error)

The median_absolute_error for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 575.9503000000003

In [32]:

# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import  mean_squared_log_error
mean_squared_log_error= mean_squared_log_error(Y_test,grid_predictions)

print("The  mean_squared_log_error for best parameter {}:".format(grid.best_params_), mean_squared_log_error)

The  mean_squared_log_error for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 0.304495339011351

In [24]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error=mean_absolute_percentage_error(Y_test,grid_predictions)

print("The mean_absolute_percentage_error for best parameter {}:".format(grid.best_params_),mean_absolute_percentage_error)

The mean_absolute_percentage_error for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 0.39310866751875173

In [31]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import  d2_tweedie_score
d2_tweedie_score= d2_tweedie_score(Y_test,grid_predictions)

print("The  d2_tweedie_score for best parameter {}:".format(grid.best_params_), d2_tweedie_score)

The  d2_tweedie_score for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 0.7018217975527163

In [26]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import mean_gamma_deviance
mean_gamma_deviance=mean_gamma_deviance(Y_test,grid_predictions)

print("The mean_gamma_deviance for best parameter {}:".format(grid.best_params_),mean_gamma_deviance)

The mean_gamma_deviance for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 0.3500129724861995

In [27]:
table=pd.DataFrame.from_dict(re)

In [28]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.014162,0.000919,0.004685,0.005738,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.724611,0.562333,0.760342,0.601908,0.668630,0.663565,0.073712,3
1,0.011548,0.003244,0.005062,0.004145,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.759758,0.705658,0.623965,0.629725,0.691654,0.682152,0.050596,1
2,0.008901,0.004250,0.001318,0.001614,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.643483,0.624694,0.657441,0.561070,0.664998,0.630337,0.037252,8
3,0.004217,0.004004,0.003379,0.004148,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.673289,0.546346,0.603589,0.508079,0.569725,0.580206,0.055982,15
4,0.006400,0.003200,0.001600,0.003200,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.787219,0.590656,0.543027,0.628452,0.586651,0.627201,0.084466,10
5,0.006399,0.003200,0.003202,0.003922,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.700258,0.676126,0.658148,0.551396,0.544678,0.626121,0.065176,11
6,0.032371,0.003200,0.001600,0.003200,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.737848,0.628903,0.618605,0.559675,0.658512,0.640709,0.058219,6
7,0.024651,0.000794,0.003200,0.003919,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.613157,0.695930,0.636586,0.642201,0.600410,0.637657,0.032879,7
8,0.020423,0.004644,0.004641,0.005770,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.770408,0.613877,0.569617,0.647991,0.698367,0.660052,0.069430,5
9,0.022909,0.003661,0.003623,0.003148,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.665338,0.588383,0.518488,0.513260,0.451256,0.547345,0.073259,18
10,0.020975,0.006549,0.005061,0.004757,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.719376,0.618110,0.529468,0.528521,0.608111,0.600717,0.070322,14
11,0.019167,0.004044,0.004072,0.005174,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.728407,0.581564,0.568504,0.415437,0.594249,0.577632,0.099413,16
12,0.013278,0.003900,0.000000,0.000000,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.734845,0.590571,0.778756,0.606199,0.669454,0.675965,0.072436,2
13,0.008873,0.001743,0.002685,0.003387,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.722333,0.653771,0.656513,0.606870,0.673742,0.662646,0.037183,4
14,0.006345,0.004179,0.003785,0.003226,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.675517,0.617463,0.639626,0.535714,0.674083,0.628481,0.051271,9
15,0.003660,0.005064,0.008299,0.004947,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.749809,0.545339,0.666135,0.401863,0.457306,0.564090,0.128823,17
16,0.006249,0.005769,0.005724,0.005237,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.638266,0.609081,0.700199,0.577443,0.570991,0.619196,0.047105,12
17,0.005699,0.004724,0.003649,0.004526,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.628760,0.641992,0.655655,0.521015,0.616747,0.612834,0.047715,13

In [29]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:54
BMI:45
Children:4
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [30]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[36580.28216]